logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
pids
_.pid
_.seed
\*.pid.lock
coverage
\*.lcov
node_modules/
\*.tsbuildinfo
.npm
.eslintcache
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.\*
.idea
.DS_Store
_cjs
_esm
_types
tsconfig*.tsbuildinfo